<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <!-- 
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
                Malinda Hollaway

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>
         -->


        <ul class="main-menu">
            <li>
                <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        
        <!-- <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Inicio</a>
        </li> -->

        <li data-ui-sref-active="active">
            <a data-ui-sref="sales" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-money"></i> Venda</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="providers" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-truck"></i> Fornecedores</a>
        </li>


        <li data-ui-sref-active="active">
            <a data-ui-sref="products" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-format-list-bulleted"></i> Produtos</a>
        </li>


        <li data-ui-sref-active="active">
            <a data-ui-sref="cash" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-money-box"></i> Caixa</a>
        </li>

        <li data-ui-sref-active="active">
            <a data-ui-sref="provider-payment" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-card zmdi-format"></i> Pagamento Fornecedores</a>
        </li>
    </ul> 
    
</div>
