<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">

            <div class ="sale-view" data-ng-controller="stock-controller as stockctrl"> 

                <div class="block-header">
                    <h2>Estoque
                        <!-- <small>Lista de produtos no carrinho</small> -->
                    </h2>
                </div>
                
                <div class="card drop-card">
                    <div class="card-header drop-card-header">
                        <h2>Lista de estoque <small>Produtos em estoque</small></h2>
                    </div>
                            
                    <div class="card-body drop-card-body">
                        <div ng-if="dataList.length > 0" class="table-responsive">
                            <table ng-table="detachedContractTable" class="table table-striped table-vmiddle selectable-table">
                                <tr ng-repeat="w in dataList" ng-click="setSelected(w)">
                                    <td data-title="'Código'">
                                        <span>{{ w.cod }}</span>
                                    </td>
                                    <td data-title="'Nome'">
                                        <span>{{ w.name }}</span>
                                    </td>
                                    <td data-title="'Quantidade'">
                                        <span>{{ w.qtd }}</span>
                                    </td>
                                    <td data-title="'Última atualização'">
                                        <span>{{ w.update | date: 'dd/MM/yy HH:mm' }}</span>
                                    </td>

                                   <!--  <td data-title="'Foto'">
                                        <span><a href="" ng-click="teste()">Ver foto</a></span>
                                    </td> -->
                                </tr>
                            </table>
                        </div>
                        
                        <div ng-if="loading" class="table-message">
                            <div class="preloader pl-lg">
                                <svg class="pl-circular" viewBox="25 25 50 50">
                                    <circle class="plc-path" cx="50" cy="50" r="20" />
                                </svg>
                            </div>
                        </div>
                        
                        <div ng-if="dataList.length == 0 && !loading" class="table-message">
                            <p>Nenhum produto no estoque cadastrado</p>
                        </div>

                        <div class="drop-card-bottom">
                            <div class="bottom-buttons">
                                <button class="btn bgm-blue" ng-click="openDialogCreateNew()">Novo</button>
                                <!-- <button ng-if="dataList.length > 0" class="btn bgm-green" ng-click="openUpdateProductDialog(selectedContractDetached)">Editar</button> -->
                                <button ng-if="dataList.length > 0" class="btn bgm-red" ng-click="removeProduct(selectedContractDetached)">Remover</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modalDialog" id="dialogCreateNew">
                    <div class="modalDialogBox">
                        <div class="modalDialogContent">
                            <h2>Cadastro de produto no estoque</h2>
                            
                            
                                <div class="col-sm-3 m-b-15">
                                <p class="f-500 c-black m-b-15">Lista de produtos</p>
                                    <select chosen data-placeholder="Selecione o produto..." class="w-100" ng-model="selectedProdutCod" ng-options="w.cod as w.name for w in dataList">
                                    </select>
                            </div>
                            
                            <div class="form-group fg-line">                      
                                    <label class="f-500 c-black">Quantidade</label>
                                    <input ng-model="novoProduto.quantidade" type="number" class="form-control fg-input text-right" id="inputValue">
                            </div>
                            
                            <div class="col-sm-12 bottom-buttons">
                                <button ng-click="registrarProduto()" class="btn bgm-green btn-icon-text"><i class="zmdi zmdi-edit"></i> Cadastrar</button> 
                                <button ng-click="closeDialogModal('dialogCreateNew')" class="btn bgm-orange btn-icon-text"><i class="zmdi zmdi-close"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>  
                </div>

    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>

        


